﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="InsertarMaterial.aspx.cs" Inherits="IPC2Practica2.InsertarMaterial" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div class ="container">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Material</label>
                <div class="col-sm-10">
                   <asp:TextBox ID="TextMaterial"  type="text" class="form-control"  placeholder="" runat="server"></asp:TextBox>
                </div>
                 <asp:Button ID="Button1" runat="server"  class="btn btn-primary" Text="Insertar" OnClick="Button1_Click"  />
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Material</label>
                <div class="col-sm-10">
                   <asp:TextBox ID="TextBox1"  type="text" class="form-control"  placeholder="" runat="server"></asp:TextBox>
                </div>
                 <asp:Button ID="Button2" runat="server"  class="btn btn-primary" Text="Insertar" OnClick="Button1_Click"  />
            </div>
           
        </div>
    </form>
</body>
</html>
